[class^='col']{
  border: 1px solid black;
}
.bg_green{
  background-color: #31BC9C;
}
.color_green{
  color: #31BC9C;
}
.bg_blue{
  background-color: #2C3E50;
}
.color_blue{
  color: #2C3E50;
}
header{

  height: 90px;
}
main{
  padding-top: 90px;
}

.ms_container{
  margin: 0 auto;
  width: 60%;
}

.footer-top{
  background-color: #3A5460;
}
.bar{
  height: 5px;
  width: 25%;
  border-radius: 10px;
}
